.edu-container
{
    margin-left:70px ;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edu-container h1{
    text-align:  center;
    color: #4a114a ;
   
}
.edu-container p{
    text-align:  center;
}

.edu-container hr{
   width: 1200px;
   text-align: center;
   margin: 10px auto;
   color:rgb(169, 183, 208) ;
   

}

.edu-container .vertical-timeline-element-title{
    color:rgb(169, 183, 208) ;
}


#dark .edu-container h1{
    text-align:  center;
    color:rgb(169, 183, 208) ;
   
}

/* 
mobile */

@media (max-width:600px) {

    .edu-container .vertical-timeline-element-work{
   width: 200px;
}
.edu-container
{
    margin: 0;
    width: 400px;
}
}