.home-container
{
    width: 1440px;
    height: 300px;
    background-color: #89589c;
   color: white;
   display: flex;
  align-items: center;

   
}
.home-container-toggle
{
    width: 1370px;
    height: 300px;
    background-color: #89589c;
   color: white;
   display: flex;
  align-items: center;

   
}
.home-content {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-left: 40px;
    height: 200px;
    
 

}
.home-content-toggle {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-left: 130px;
    height: 200px;
    
 

}
.home-content h1{

    color: rgb(60, 59, 59);
}

.btn-hire
{
    background-color: #333; 
   color: white;
}

.btn-cv
{
    background-color: #322; 
 color: white;
}


.btn-hire:hover
{
    background-color: #4d4b4b; 
   color: white;
}

.btn-cv:hover
{
    background-color: rgb(74, 49, 49); 
 color: white;
}



.home-buttons
{
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.theme-btn
{
    width: 60px;
    height: 60px;
    background-color: #a353a3;
    position:fixed;
   right: 0px;
   top: 10px;
   border-radius: 19px;
   display: flex;
   justify-content: center;
   align-items: center;


}
.theme-btn svg{
    width: 40px;
    height: 40px;
}

/* .................DArk mode .......... */

 #dark .home-container
{
    width: 1440px;
    height: 300px;
    background-color:rgb(169, 183, 208);
    color:rgb(20, 81, 75) ;
   display: flex;
  align-items: center;

   
}
 #dark .home-container-toggle
{
    width: 1381px;
    height: 300px;
    background-color:rgb(169, 183, 208);
  color:rgb(20, 81, 75);
   display: flex;
  align-items: center;

   
}
#dark .home-content {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-left: 40px;
    height: 200px;
    
 

}
#dark .home-content-toggle {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-left: 130px;
    height: 200px;
    
 

}
#dark .home-content h1{

    color: rgb(60, 59, 59);
}

#dark .btn-hire
{
    background-color: #333; 
   color: white;
}

#dark .btn-cv
{
    background-color: #322; 
 color: white;
}


#dark .btn-hire:hover
{
    background-color: #4d4b4b; 
   color: white;
}

#dark .btn-cv:hover
{
    background-color: rgb(74, 49, 49); 
 color: white;
}



#dark .home-buttons
{
    display: flex;
    justify-content: space-between;
    width: 240px;
}

#dark .theme-btn
{
    width: 60px;
    height: 60px;
    background-color:rgb(169, 183, 208);
 
    position:fixed;
   right: 0px;
   top: 10px;
   border-radius: 19px;
   display: flex;
   justify-content: center;
   align-items: center;


}
#dark .theme-btn svg{
    width: 40px;
    height: 40px;
}
/* Mobile */
@media (max-width: 600px) {

    .home-container
    {
        width: 600px;
    }
    .home-container-toggle{
        width: 600px;
    }
    .theme-btn
    {
        position: relative;
        left: 521px;
        top: -62px;

        
    }
    
    #dark .theme-btn
    {
        margin-top: 45px;
        margin-right: 2px;
        
    }
    #dark .home-content h1{

       font-size: 24px;
    }
 .home-content h1{

        font-size: 24px;
     }
     #dark .home-content h2{

        font-size: 24px;
     }
  .home-content h2{
 
         font-size: 20px;
      }
}

