.sidebar-section

{

display: flex;


}

.sidebar
{
    height: 1200px;
    width: 90px;
    background-color: #9f77b0;  /* Darker background color */
    position: fixed; /* Use fixed position for better responsiveness */
  transition: width 0.000s ease; /* Add transition for smooth width change */

}
.sidebar-toggle
{
    width: 180px;
}
.sidebar-toggle-icon
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.sidebar-toggle-icon p svg{
    background-color: #ccb2d7;
    color:  #9f77b0;
}
.pages-toggle
{
    margin-left: 136px;
    background-color: #ccb2d7;
 
  
}
.pages
{
    margin-left: 75px;
    background-color: #ccb2d7;
   
   
}
.footer
{

  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
  width: 1430px;

  margin-left: 13px;
  padding: 10px;
  
}
.footer-toggle
{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    width: 1330px;
    
    margin-left: 43px;
    padding: 12px;
}
/* ........DARK Mode...... */

#dark .sidebar
{
    height: 1200px;
    width: 90px;
    background-color:rgb(150, 171, 209);  /* background color */
    position: fixed; /* Use fixed position for better responsiveness */
  transition: width 0.000s ease; /* Add transition for smooth width change */

}
#dark .sidebar-toggle-icon p svg{
    background-color:rgb(28, 52, 93);
    color:rgb(169, 183, 208) ;
}
#dark  .pages-toggle
{
    margin-left: 136px;
    background-color:rgb(28, 52, 93);
 
  
}
#dark .pages
{
    margin-left: 75px;
    background-color:rgb(28, 52, 93);
   
   
}
#dark .sidebar-toggle
{
    width: 180px;
}
#dark .sidebar-toggle-icon
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}

@media (max-width: 600px) {
    .sidebar{
        display: none;
    }
 

    
        .pages
        {
            margin: 0;
        }
        .pages-toggle
        {
            margin: 0;
        }
        
        #dark .pages
        {
            margin: 0;
        }
        #dark .pages-toggle
        {
            margin: 0;
        }

        .footer
        {
            margin: 0;
            width: 600px;
        }
    
        .footer-toggle
        
        {
            margin: 0;
            width: 600px;
        }
        
}